<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mailing.mapper.ExpressProvincesCityAreasMapper">

    <select id="getJson" resultType="com.cssl.entity.ExpressProvincesCityAreas">
        SELECT parent_id,epca_id,epca_name FROM express_provinces_city_areas
        WHERE parent_id IN
        (SELECT epca_id FROM express_provinces_city_areas
        WHERE epca_level IN (1,2))
    </select>

    <select id="getProvinceIdByName" resultType="int" parameterType="string">
        SELECT 	`epca_id` FROM `logistics`.`express_provinces_city_areas`
        WHERE epca_level = 1 AND epca_name LIKE  CONCAT( #{province} ,'%')
    </select>


    <select id="getCityIdByName" resultType="int" parameterType="string">
        SELECT 	`epca_id` FROM `logistics`.`express_provinces_city_areas`
        WHERE epca_level = 2 AND epca_name LIKE  CONCAT( #{city} ,'%')
    </select>

    <select id="getAreasIdByName" resultType="int" parameterType="string">
        SELECT 	`epca_id` FROM `logistics`.`express_provinces_city_areas`
        WHERE epca_level = 3 AND epca_name LIKE  CONCAT( #{areas} ,'%')
    </select>

    <select id="findAddrByParentName" parameterType="string" resultType="com.cssl.entity.ExpressProvincesCityAreas">
    SELECT epca_id,epca_name FROM express_provinces_city_areas
    WHERE parent_id =
    (SELECT epca_id FROM express_provinces_city_areas
    WHERE epca_name = #{addr})
    </select>

    <select id="getProvinceList" resultType="com.cssl.entity.ExpressProvincesCityAreas">
        select * from express_provinces_city_areas where epca_level=1;
    </select>

    <select id="getCityListByProvinceId" parameterType="int" resultType="com.cssl.entity.ExpressProvincesCityAreas">
        select * from express_provinces_city_areas WHERE parent_id = #{provinceId} and epca_level=2;
    </select>

    <select id="getAreasListByCityId" parameterType="int" resultType="com.cssl.entity.ExpressProvincesCityAreas">
        select * from express_provinces_city_areas WHERE parent_id = #{cityId} and epca_level=3;
    </select>

    <select id="getCountyCode" resultType="int" parameterType="string">
        select epca_id from express_provinces_city_areas where epca_name =#{cityTem};
    </select>


    <resultMap id="provincesMap" type="com.cssl.entity.MyAddressBook">
        <id column="mab_id" property="mabId"></id>
        <result column="mab_address" property="mabAddress"></result>
        <result column="mab_phone" property="mabPhone"></result>
        <result column="mab_isdefault" property="mabIsdefault"></result>
        <result column="mab_is_receipt" property="mabIsReceipt"></result>
        <result column="mab_creator" property="mabCreator"></result>
        <result column="mab_tag" property="tag" ></result>
        <collection property="provinces" javaType="com.cssl.entity.Provinces">
            <id column="provincesCode" property="provincesCode"></id>
            <result column="provincesName" property="provincesName"></result>
            <result column="citiesCode" property="citiesCode"></result>
            <result column="citiesName" property="citiesName"></result>
            <result column="countiesCode" property="countiesCode"></result>
            <result column="countiesName" property="countiesName"></result>
        </collection>
    </resultMap>

    <select id="showAllMyAddressById" parameterType="Integer" resultMap="provincesMap">
        SELECT md.`mab_id` AS mab_id,ep_id as provincesCode,(SELECT  epca_name FROM express_provinces_city_areas WHERE ep_id=epca_id) AS provincesName  ,`ec_id` as citiesCode,(SELECT  epca_name FROM express_provinces_city_areas WHERE ec_id=epca_id) AS citiesName ,`ea_id` as countiesCode ,(SELECT  epca_name FROM express_provinces_city_areas WHERE ea_id=epca_id) AS countiesName ,`mab_address`,`mab_phone`,`mab_isdefault`,`mab_is_receipt`,`mab_creator`,`mab_tag`  FROM `my_address_book`  md
        INNER JOIN `address_user_rela`  au ON md.mab_id=au.mab_id
        WHERE lu_id=#{mId}
    </select>
    <select id="echoData" parameterType="Integer" resultMap="provincesMap">
        SELECT mab_id,ep_id as provincesCode,(SELECT  epca_name FROM express_provinces_city_areas WHERE ep_id=epca_id) AS provincesName  ,`ec_id` as citiesCode,(SELECT  epca_name FROM express_provinces_city_areas WHERE ec_id=epca_id) AS citiesName ,`ea_id` as countiesCode ,(SELECT  epca_name FROM express_provinces_city_areas WHERE ea_id=epca_id) AS countiesName ,`mab_address`,`mab_phone`,`mab_isdefault`,`mab_is_receipt`,`mab_creator`,`mab_tag`  FROM `my_address_book`
        WHERE mab_id=#{aId}
    </select>

    <update id="updateAddress" parameterType="map">
        UPDATE `my_address_book` SET `ep_id`=#{provinceCode},`ec_id`=#{cityCode},`ea_id`=#{regionCode},`mab_address`=#{address},`mab_phone`=#{phone},`mab_isdefault`=#{defaultType},`mab_is_receipt`=#{addressType},`mab_creator`=#{name},`mab_tag`=#{tag} where `mab_id`=#{userId}
    </update>

</mapper>