<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mailing.mapper.TransportMeansMapper">

    <select id="findTmId" resultType="int">
        select @@IDENTITY
    </select>

    <insert id="saveMeans" parameterType="com.cssl.entity.TransportMeans">
       insert into transport_means ( tm_gmt_create, tm_speed, tm_expenditure, tm_type)
       values (#{tmGmtCreate},#{tmSpeed},#{tmExpenditure},#{tmType});
    </insert>
</mapper>