<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mailing.mapper.TransportationStatusMapper">


    <insert id="saveStatus" parameterType="com.cssl.entity.TransportationStatus">
       insert into transportation_status (ts_id, ts_gmt_create, ls_id, ep_id, ec_id, ea_id)
        values (#{tsId},#{tsGmtCreate},#{lsId},#{epId},#{ecId},#{eaId});
    </insert>
</mapper>