<!-- Created by 17120847 on 2018/5/23.--><!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html">
    
    <title>天天快递官网</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control " content="no-cache,must-revalidate">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE,chrome=1">

    <meta name="keyword" content="">
    <meta name="description" content=""><meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <link href="/css/public.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/mystyle.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/city-picker.css">
    <link type="text/css" rel="stylesheet" href="/css/common.css">
    <link type="text/css" rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/sweetalert.css">
    <link type="text/css" rel="stylesheet" href="/css/expressServiceTab.css">
    <!-- <link type="text/css" rel="stylesheet" href="css/ft-carousel.css"> -->
    /
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="/js/ft-carousel.min.js"></script> -->
    <script type="text/javascript" src="/js/sweetalert-dev.js"></script>
    <script type="text/javascript" src="/js/goUrl.js"></script>
    <!--<script src="iar-web/snstatic/SnCaptcha1.js"></script>-->
    <script src="/js/SnCaptcha.js"></script>
    <script type="text/javascript" src="/js/env.js"></script>
    <!--<script type="text/javascript" src="staticFiles/js/jobs.js"></script>-->
    <style>
        .carousel li{
            display: inline-block;
        }
    </style>
    </head>
<body data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-134" data-genuitec-path="/ttkdex-web/target/m2e-jee/web-resources/staticFiles/pages/index.html">
<div class="wrapper admin-content twolevelWrap" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-134" data-genuitec-path="/ttkdex-web/target/m2e-jee/web-resources/staticFiles/pages/index.html">
    <!--Created by 17120847 on 2018/5/23.-->
<!--    <div th:replace="/staticFiles/pages/header :: header"></div>-->
    <div class="logAndRegister">
        <div class="fixedWid clearfix">
            <a href="javascript:void(0)" class="fl" onclick="addFavorite();">加入收藏</a>
            <div class="fr normal"><a href="javascript:window.location.href='login.html';">登录</a><span></span><a href="javascript:window.location.href='register.html';">注册</a></div>
            <div style="display:none" class="fr sucess"> <a href="myordernew.html"><span class="username" id="username"></span></a><a class="exit" href="">退出</a></div>
        </div>
    </div>
    <div id="navWrap" class="headerWrap whiteBack commonWrap">
        <div class="fixedWid">
            <div class="navWrap clearfix">
                <div class="logo fl">
                    <a href="Index.html"><img src="/images/logo.png" class="logoimg"></a>
                </div>
                <div class="fr">
                    <a href="Index.html" class="link">首页</a><span onclick="location.href='/staticFiles/pages/expressServiceTab.html'" class="link kdyw">快递业务
							<div class="cont">
								<div class="content">
									<span class="linka first">增值服务</span> <a href="javascript:;" class="linka">货到付款</a> <a href="javascript:;" class="linka">电子面单</a> <a href="javascript:;" class="linka">到付服务</a> <a href="javascript:;" class="linka">保价服务</a> <a href="javascript:;" class="linka">上门取件</a>
								</div>
							</div>
						</span><span onclick="location.href='/staticFiles/pages/placeOrder.html'" class="link khfw">客户服务
							<div class="cont">
								<div class="content">
									<span class="linka first">我要寄件</span>
									<span class="linka wyjjlink" data-url="/staticFiles/pages/placeOrder.html">我要寄件</span>
								</div>
								<div class="content secondcontent">
									<span class="linka second">我要查询</span>
									<span class="linka cxydlink" data-url="/staticFiles/pages/queryExpress.html">运单查询</span>
									<span class="linka cxwdlink" data-url="/staticFiles/pages/queryNetwork.html">网点查询</span>
									<span class="linka yfcxlink" data-url="/staticFiles/pages/queryPrice.html">运费查询</span>
								</div>
							</div>
						</span><span onclick="location.href='/staticFiles/pages/joiningTT.html'" class="link jmtt">加盟天天
							<div class="cont">
								<div class="content">
									<span class="linka first">加盟天天</span>
                                    <a href="javascript:;" class="linka">加盟须知</a> <a href="javascript:;" class="linka">加盟流程</a> <a href="javascript:;" class="linka">加盟热线</a> <a href="javascript:;" class="linka">招商区域</a>
								</div>
							</div>
						</span><!-- <span onclick="location.href='/staticFiles/pages/recruitment.html?tab=1'" class="link rczp">人才招聘
							<div class="cont">
								<div class="content">
									<span class="linka first">人才招聘</span><a href="javascript:;" class="linka">职位信息</a><a href="javascript:;" class="linka">招聘介绍</a>
								</div>
							</div>
						</span> -->
                    <span onclick="" class="link">苏宁物流</span>
                    <span onclick="location.href='/article/baseArticleAction!aboutTT.action'" class="link gytt">关于天天
							<div class="cont">
								<div class="content">
									<span class="linka first">关于天天</span><span class="linka qyjslink" data-url="/article/baseArticleAction!aboutTT.action#qyjs">企业介绍</span><span class="linka xwzxlink" data-url="/article/baseArticleAction!aboutTT.action#xwzx">新闻中心</span><span class="linka lxwmlink" data-url="/article/baseArticleAction!aboutTT.action#lxwm">联系我们</span>
								</div>
							</div>
						</span><span class="kfdh"><img src="/images/kfrx.png" class="kfrx"></span>
                </div>
            </div>
        </div>
    </div>      <!--Created by 17120847 on 2018/5/23.-->
    <div id="bannerWrap" class="bannerWrap commonWrap">
            <div class="bannerScroll">
                <div class="imgbg" style="background: url(/images/banner1-1905253358.jpg) center center no-repeat; opacity: 1; visibility: visible;"></div>
                <div class="imgbg" style="background: url(/images/banner4-13974203.jpg) center center no-repeat; opacity: 0; visibility: hidden;"></div>
                <div class="imgbg" onclick="window.open('http://ttkdex.suning.com/staticFiles/pages/placeOrder.html')" style="background: url(/images/banner2-1349930884.jpg) center center no-repeat; opacity: 0; visibility: hidden;"></div>
                <div class="imgbg" onclick="window.open('http://ttkdex.suning.com/staticFiles/pages/customerServiceCenter.html')" style="background: url(/images/banner3-260039662.jpg) center center no-repeat; opacity: 0; visibility: hidden;">
            </div>
            <div class="dotcontrol">
                    <ul class="clearfix">
                            <li class="dotli on"></li>
                            <li class="dotli"></li>
                            <li class="dotli"></li>
                            <li class="dotli"></li>
                    </ul>
            </div>
</div>
    </div>
    <div class="linkCustomPage fixedWid">

        <div class="btngroupdiv"><a class="link searchOrderBtn"><span class='orderBtn'>运单查询</span>
            <div class="waybillbox">
                <div class="waybillInput">
                    <textarea id="orderTextInput" placeholder="请输入单号，多个单号用回车键分割最多20单"></textarea>
                    <div class="verificationRow">
                        <div id="captcha" style="display: inline-block;margin-top: -32px;margin-right: 12px;"></div>
                        <!--<input placeHolder="请输入验证码" id="encodinginput">-->
                        <!--<img id="verificationCodeImg" onclick="changeValidateCode(this)"  src="/verificationCodeAction!getRandomPictrue.action">-->
                        <span class="checkImmediately forBtn" onclick="queryWayBillInfo()">马上查单</span>
                    </div>
                </div>
            </div>
        </a><a href="javascript:;" class="link zxjjbtn"> 在线寄件</a><a href="javascript:;" class="link wdcxbtn">网点查询</a><a href="javascript:;" class="link yfcxbtn">运费查询</a><a href="javascript:;" class="link kfzxbtn">客服中心</a></div>
    </div>
    <div class="fixedWid">
        <div class="tt_index_block">
            <h3 class="title">我们的服务</h3>
            <div class="infocontent">
                <div class="everycontent"><img src="/images/hdfk.jpg">
                    <div class="titleinfo">货到付款</div>
                </div>
                <div class="everycontent"><img src="/images/bjfw.jpg">
                    <div class="titleinfo">保价服务</div>
                </div>
                <div class="everycontent"><img src="/images/dzmd.jpg">
                    <div class="titleinfo">电子面单</div>
                </div>
                <div class="everycontent"><img src="/images/yfdf.jpg">
                    <div class="titleinfo">运费到付</div>
                </div>
                <div class="everycontent"><img src="/images/smqj.jpg">
                    <div class="titleinfo">上门取件</div>
                </div>
            </div>
        </div>
    </div>
    <div class="tt_index_block haverich_blcok wmdys greenbg">
        <div class="fixedWid">
            <h3 class="title">我们的优势</h3>
            <p class="richtitle">我们有专属的运营、信息技术、专业的售后服务团队和产品，为您提供个性化、定制化的快递和物流解决方案。同时我们可以为您提供专属的打单发货软件、上门取件业务以及各类时效类增值服务，是您身边的贴心快递管家。</p>
            <div class="infocontent">
                <div class="contentblock">
                    <div class="imgdiv">
                        <div class="imgdivTitle">干线网络</div>
                        <img src="/images/gxwl.jpg" class="img">
                        <div class="imgdivBottom"><span style="margin-right:34px;"><span class="colorNum">100</span>&nbsp;家分拨中心</span><span><span class="colorNum">3,078</span>&nbsp;条线路</span></div>
                    </div>
                </div>
                <div class="contentblock">
                    <div class="imgdiv">
                        <div class="imgdivTitle">支线网络</div>
                        <img src="/images/kdwl.jpg" class="img">
                        <div class="imgdivBottom"><span><span class="colorNum">18,168</span>&nbsp;家快递点</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="tt_index_block fixedWid ttxw" id="cont"> -->
    </div>
    <!--Created by 17120847 on 2018/5/23.-->
<div class="footer commonWrap">
    <div class="footerCont fixedWid clearfix">
        <div class="customer fl">
            <span class="info">客服电话</span>
            <span class="info tel">4001-888-888</span>
            <span class="info timer">服务时间： 8:30 - 17:30</span>
        </div>
        <div class="hyperlink clearfix">
            <div class="linkgroup fl">
                <a href="" class="link">客户服务</a>
                <a href="javascript:;" class="link">在线寄件</a>
                <a href="javascript:;" class="link">运单查询</a>
                <a href="javascript:;" class="link">网点查询</a>
                <a href="javascript:;" class="link">运费查询</a>
            </div>
            <div class="linkgroup fl">
                <a href="" class="link">客服服务</a>
                <a href="javascript:;" class="link">客服热线  </a>
                <a href="javascript:;" class="link">在线留言</a>
            </div>
            <div class="linkgroup fl">
                <a href="" class="link">加盟天天</a>
                <a href="javascript:;" class="link">加盟须知   </a>
                <a href="javascript:;" class="link">加盟流程</a>
                <a href="javascript:;" class="link">加盟热线</a>
                <a href="javascript:;" class="link">招商区域</a>
            </div>
            <!-- <div class="linkgroup fl">
                <a href="" class="link">人才招聘</a>
                <a href="javascript:;" class="link">职位信息</a>
                <a href="javascript:;" class="link">招聘介绍</a>
            </div> -->
            <div class="linkgroup fr smcodediv" style="text-align:center">
                <img class="smcode" src="/images/code_dyh.png" alt="">
                <span class="info">天天相知微信</span>
                <span class="info">订阅号扫码关注</span>
            </div>
            <div class="linkgroup fr smcodediv">
                <img class="smcode" src="/images/code_fwh.png" alt="">
                <span class="info">天天快递微信</span>
                <span class="info">服务号扫码关注</span>
            </div>
        </div>
    </div>
</div>
    <div class="footerbottom commonWrap">
        <div class="fixedWid">
            <p class='info'>©版权所有 2016 天天快递有限公司<a style="color: #A6A7AB;" href="javascript:;" target="_blank"> 浙ICP备13006085</a>号
                <a href="javascript:;" target="_blank" style="color: #A6A7AB;"> | 快递业务经营许可证</a><a href="javascript:;" target="_blank" style="color: #A6A7AB;"> | <img src="/images/yyzz.png" style="width: 19px;height:19px;vertical-align: middle;"> 营业执照</a></p>
        </div>
    </div>
</div>
<div class="selfServiceBtnList">
    <div class="customerBtn" data="/onlineCall.action">
        <div class="onLineIcon"></div>
        <span class="btnTip">在线客服</span>
    </div>
    <div class="customerBtns selfOrderServiceBtn" id="selfOrderServiceBtn">
        <div class="selfServiceIcon"></div>
        <span class="btnTip">自助投诉</span>
    </div>
    <div class="customerBtns selfOrderServiceBtn" id="toTopBtn">
        <div class="returnTopIcon"></div>
        <span class="btnTip">返回顶部</span>
    </div>
</div>


<script type="text/javascript" src="/js/index1.js"></script>
<script type="text/javascript" src="/js/expressServiceTab.js"></script>
<script type="text/javascript" src="/js/Base64.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
</body>
</html>
<script>
    jQuery(document).ready(function($) {
        init()
        $('body').addClass("whitebg");
        $.ajax({
            type:"post",
            url:"/article/baseArticleAction!homeBanner.action",
            error: function(){
            },
            success:function(data){
                document.getElementById("bannerWrap").innerHTML = data;
                var logistic = new Logistic();
                logistic.init();
            }
        });
        $.ajax({
            type:"post",
            url:"/article/baseArticleAction!homeNewsTags.action",
            error: function(){
            },
            success:function(data){
                document.getElementById("cont").innerHTML = data;
                var logistic = new Logistic();
                logistic.init();
            }
        });
    });
    function changeValidateCode(obj) {
        var timenow = new Date().getTime();
        document.getElementById("verificationCodeImg").src="/verificationCodeAction!getRandomPictrue.action?d="+timenow;
    }

    function queryWayBillInfo() {
        //订单号
        var orderTextInput = $("#orderTextInput").val();
        if(orderTextInput == '' || orderTextInput == null){
            swal("","请填写运单号!", "info");
            return false;
        }
        if (!sc.queryStatus()) {
            swal("","请进行安全验证。","info");
            return false;
        }
        init();
        var token = sc.queryToken();
        var base = new Base64();
        orderTextInput = base.encode(orderTextInput);
        window.open("/staticFiles/pages/queryExpress.html?orderTextInput="+orderTextInput+"&token="+token);
    }
    function init(){
        var env = getEnv();
        $.ajax({
            type : "post",
            url : "/getIARToken.action",
            success : function(data) {
                var obj = eval("(" + data + ")");
                if (obj.code == "1000") {
                    sc = SnCaptcha.init({
                        id: 'captcha', // 用于当一个页面上有多个验证码实例时进行区分
                        // env : 'sit', // 环境sit，xgpre，prd
                        env : env, // 环境sit，xgpre，prd
                        type : 'inline', // inline:插入按钮, 点击按钮弹出验证码。popup：直接弹出验证码
                        target : 'captcha', // 验证码按钮插入的 div 的 id，必填
                        ticket : obj.data, // 通过注册接口获取的 ticket
                        width : '197px',  // 按钮或者滑块宽度（必填)
                        height : '32px',  // 滑块或按钮高度(必填，且必须用具体数值，禁止使用百分比)
                        callback : function(token) { // 回调函数
                            console.log(token);
                        }
                    });

                } else {
                    swal("",obj.msg, "error");
                }
            },
            error:function(data){;
                console.log(data.returnMsg);

            }
        });
    }
</script>