<!-- Created by 17120847 on 2018/5/23.--><!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html">
    
    <title>天天快递官网</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control " content="no-cache,must-revalidate">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE,chrome=1">

    <meta name="keyword" content="">
    <meta name="description" content=""><meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <link href="/css/public.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/mystyle.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/city-picker.css">
    <link type="text/css" rel="stylesheet" href="/css/common.css">
    <link type="text/css" rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/sweetalert.css">
    <link type="text/css" rel="stylesheet" href="/css/expressServiceTab.css">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/sweetalert-dev.js"></script>
    <script type="text/javascript" src="/js/goUrl.js"></script>
    </head>
<body data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-139" data-genuitec-path="/ttkdex-web/target/m2e-jee/web-resources/staticFiles/pages/queryPrice.html">
<div class="wrapper admin-content twolevelWrap" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-139" data-genuitec-path="/ttkdex-web/target/m2e-jee/web-resources/staticFiles/pages/queryPrice.html">
    <!--Created by 17120847 on 2018/5/23.-->
    <div class="logAndRegister">
        <div class="fixedWid clearfix">
            <a href="javascript:void(0)" class="fl" onclick="addFavorite();">加入收藏</a>
            <div class="fr normal"><a href="javascript:;">登录</a><span></span><a href="javascript:;">注册</a></div>
            <div style="display:none" class="fr sucess"> <a href="javascript:;"><span class="username" id="username"></span></a><a class="exit" href="javascript:;">退出</a></div>
        </div>
    </div>
    <div id="navWrap" class="headerWrap whiteBack commonWrap">
        <div class="fixedWid">
            <div class="navWrap clearfix">
                <div class="logo fl">
                    <a href="javascript:;"><img src="/images/logo.png" class="logoimg"></a>
                </div>
                <div class="fr">
                    <a href="javascript:;" class="link">首页</a><span onclick="location.href='/staticFiles/pages/expressServiceTab.html'" class="link kdyw">快递业务
							<div class="cont">
								<div class="content">
									<span class="linka first">增值服务</span> <a href="javascript:;" class="linka">货到付款</a> <a href="javascript:;" class="linka">电子面单</a> <a href="javascript:;" class="linka">到付服务</a> <a href="javascript:;" class="linka">保价服务</a> <a href="javascript:;" class="linka">上门取件</a>
								</div>
							</div>
						</span><span onclick="location.href='/staticFiles/pages/placeOrder.html'" class="link khfw">客户服务
							<div class="cont">
								<div class="content">
									<span class="linka first">我要寄件</span>
									<span class="linka wyjjlink" data-url="/staticFiles/pages/placeOrder.html">我要寄件</span>
								</div>
								<div class="content secondcontent">
									<span class="linka second">我要查询</span>
									<span class="linka cxydlink" data-url="/staticFiles/pages/queryExpress.html">运单查询</span>
									<span class="linka cxwdlink" data-url="/staticFiles/pages/queryNetwork.html">网点查询</span>
									<span class="linka yfcxlink" data-url="/staticFiles/pages/queryPrice.html">运费时效</span>
								</div>
							</div>
						</span><span onclick="location.href='/staticFiles/pages/joiningTT.html'" class="link jmtt">加盟天天
							<div class="cont">
								<div class="content">
									<span class="linka first">加盟天天</span>
                                    <a href="javascript:;" class="linka">加盟须知</a> <a href="javascript:;" class="linka">加盟流程</a> <a href="javascript:;" class="linka">加盟热线</a> <a href="javascript:;" class="linka">招商区域</a>
								</div>
							</div>
						</span><span onclick="location.href='/staticFiles/pages/recruitment.html'" class="link rczp">人才招聘
							<div class="cont">
								<div class="content">
									<span class="linka first">人才招聘</span><a href="javascript:;" class="linka">职位信息</a><a href="javascript:;" class="linka">招聘介绍</a>
								</div>
							</div>
						</span>
                    <span onclick="window.open('http://wuliu.suning.com')" class="link">苏宁物流</span>
                    <span onclick="location.href='/article/baseArticleAction!aboutTT.action'" class="link gytt">关于天天
							<div class="cont">
								<div class="content">
									<span class="linka first">关于天天</span><span class="linka qyjslink" data-url="/article/baseArticleAction!aboutTT.action#qyjs">企业介绍</span><span class="linka xwzxlink" data-url="/article/baseArticleAction!aboutTT.action#xwzx">新闻中心</span><span class="linka lxwmlink" data-url="/article/baseArticleAction!aboutTT.action#lxwm">联系我们</span>
								</div>
							</div>
						</span><span class="kfdh"><img src="/images/kfrx.png" class="kfrx"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- ftl start -->

    <script src="/js/jquery.validate.js"></script>
    <script src="/js/additional-methods.js"></script>
    <script src="/js/messages_zh.js"></script>
    <script src="/js/city-picker.data.js"></script>
    <script src="/js/city-picker.js"></script>

    <script type="text/javascript" src="/js/jquery.jedate.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jedate.css">

    <div class="wrapper admin-content twolevelWrap">
        <div id="bannerData"></div>

        <div style="background:url(/images/customerService.jpg) no-repeat" class="t_content t_banner">
            <div class="fixedWid">
                <h3 class="title">客户服务</h3>
                <line class="wid20line"></line>
                <p class="info">天天快递提供快捷、安全、贴心、可靠的快递服务，是您的优质选择</p>
            </div>
        </div>

        <!--弹出框背景色-->
        <div class="mask"></div>

        <!-- 客户服务主页面 -->
        <div class="sendMailContent khfwContent">
            <!-- 左边菜单栏 -->
            <div class="leftTabContent">
                <div class="leftMainTitle">客户服务</div>
                <div class="leftMainContent">
                    <div class="leftNodeTab" onclick="location.href='/staticFiles/pages/placeOrder.html'">我要寄件</div>
                    <div class="leftNodeTab" onclick="location.href='/staticFiles/pages/queryExpress.html'">运单查询</div>
                    <div class="leftNodeTab" onclick="location.href='/staticFiles/pages/queryNetwork.html'">网点查询</div>
                    <div class="leftNodeTab leftNodeTabActive" onclick="location.href='/staticFiles/pages/queryPrice.html'">运费时效</div>
                </div>
            </div>

            <!-- 运费查询 -->
            <div style="display:inline-block;" class="rightTabContent">
                <div class="rightSmallTitle queryfreightTitle bold">运费查询</div>
                <form id="priceForm">
                    <div class="queryfreightInput">
                        <label>收件地区</label>
                        <div class="area_div">
                            <input placeholder="请选择省/市/区" id="receiveArea2" name="receiveArea2" readonly="" type="text" style="width: 150px;">
                        </div>
                        <label>寄件地区</label>
                        <div class="area_div">
                            <input placeholder="请选择省/市/区" id="sendArea2" name="sendArea2" readonly="" type="text" style="width: 150px;">
                        </div>
                        <span class="goodWeightClass">
						<label>物品重量</label>
						<input class="mr20" placeholder="0.1-50KG" id="goodsWeight2" name="goodsWeight2">
					</span>
                        <a href="javascript:void(0)" onclick="transportPriceFunc2()" class="forBtn blueBtn queryfreightBtn">查询</a>
                        <br>
                        <label>寄件时间</label>
                        <input type="text" name="orderDate" class="odd_Numbers" id="orderDate" readonly="">
                        <span style="margin-left: 20px;" class="checkboxDom1 noChecked1">
					  <input type="checkbox"></span><span>保价预估</span><span class="insuredContent1">保值
					  <input placeholder="声明价值，1-5000间整数" id="insuranceMoney2" name="insuranceMoney2"><span>元</span>
					</span>
                    </div>
                </form>
                <div class="queryResultTable">
                    <!--<table border="1" id="transportPriceTable2">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>服务产品</th>-->
                            <!--<th>重量（kg）</th>-->
                            <!--<th>首重（元/kg）</th>-->
                            <!--<th>续重（元/kg）</th>-->
                            <!--<th>保费（元）</th>-->
                            <!--<th>预计运费（元）</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->

                        <!--</tbody>-->
                    <!--</table>-->
                    <table border="1" id="transportPriceTable2">
                        <thead>
                        <tr>
                            <th>服务产品</th>
                            <th>重量（kg）</th>
                            <th>首重（元/kg）</th>
                            <th>续重（元/kg）</th>
                            <th>预计送达时间</th>
                            <th>预计运费（元）</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $("#receiveArea2").citypicker();
            $("#sendArea2").citypicker();
            $(".city-picker-dropdown").css("display", "none");

            var start = {
                format: 'YYYY-MM-DD',
                isinitVal:true,
                festival: false,
                choosefun: function(elem,datas){
//				end.minDate = datas; //开始日选好后，重置结束日的最小日期
//				end.maxDate = $.addDate(datas,30);
                }
            };
            /*var end = {
             format: 'YYYY-MM-DD',
             festival:true,
             choosefun: function(elem,datas){
             start.maxDate = datas; //将结束日的初始值设定为开始日的最大日期
             start.minDate = $.addDate(datas,-30);
             }
             };*/
            $('#orderDate').jeDate(start);
//		$('#inpend').jeDate(end);
        });

        $.validator.setDefaults({
            submitHandler: function() {
//            alert("提交事件!");
            },
            debug: true,
            errorElement: 'i',
            errorClass: "errorClass",
            errorPlacement: function(error, element) {
                if ($(element).parent().hasClass('datetimepicker')) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $().ready(function() {
            $("#priceForm").validate({
                onfocusout: function(element) {	// 失去焦点时校验，“onfocusout:true”报错
                    $(element).valid();
                },
                onkeyup: false,
                rules: {
                    receiveArea2: {
                        required: true,
                        receiveAreaCheck: ""
                    },
                    sendArea2: {
                        required: true,
                        sendAreaCheck: ""
                    },
                    goodsWeight2: {
                        required: true,
                        goodsWeightCheck: ""
                    },
                    insuranceMoney2: {
                        insuranceMoneyCheck: ""
                    },
                    orderDate: {
                        required: true
                    }
                },
                messages: {
                    receiveArea2: {
                        required: "请选择地区！"
                    },
                    sendArea2: {
                        required: "请选择地区！"
                    },
                    goodsWeight2: {
                        required: "请输入物品重量！"
                    },
                    orderDate: {
                        required: "请选择寄件时间！"
                    }
                },
                focusCleanup: true
            });

            /*
             * 自定义校验方法
             */
            $.validator.addMethod("receiveAreaCheck", function(value, element, params){
                return validateAddressSplit($("#receiveArea2").val());
            }, "请选择省市区！");

            $.validator.addMethod("sendAreaCheck", function(value, element, params){
                return validateAddressSplit($("#sendArea2").val());
            }, "请选择省市区！");

            $.validator.addMethod("emptyCheck", function(value, element, params){
                var checkFlag = true;
                if (value.trim() == "") {
                    checkFlag = false;
                }
                return checkFlag;
            }, "不能为空！");

            $.validator.addMethod("goodsWeightCheck", function(value, element, params){
//				var value = $("#goodsWeight").val();
                var weightPattern = /^\d{1,2}.?\d?$/g;
                return weightPattern.test(value) && (value >= 0.1) && (value <= 50);
            }, "只可填写0.1-50之间的数字，允许1位小数！");

            $.validator.addMethod("insuranceMoneyCheck", function(value, element, params){
//				var value = $("#insuranceMoney").val();
                var moneyPattern = /^\d{1,4}$/g;
                return moneyPattern.test(value) && (value >= 1) && (value <= 5000);
            }, "保值为1-5000间整数！");
        });

        // 提交订单

        function validateAddressSplit(addr){
            var result = true;
            var strs = new Array(); //定义一数组
            strs = addr.split("/"); //字符分割
            if(strs.length < 3){
                result = false;
            }
            for (var i = 0; i<strs.length; i++ ){
                if(strs[i] == null || strs[i].trim() == '' || strs[i] ==undefined){
                    result = false;
                }
            }
            return result;
        }

        // 运费查询
        function transportPriceFunc2() {

            if (!$("#priceForm").validate().form()) {
                return;
            }

            var tableObj2 = document.getElementById("transportPriceTable2");
            if (tableObj2.rows.length > 1) {
                tableObj2.deleteRow(1);
            }

            var goodsWeight = $("#goodsWeight2").val();
            var insuranceMoney = $("#insuranceMoney2").val();    // 保值
            var sendProvinceCode =  getAreaCode("sendArea2", "province");
            var sendRegionCode = getAreaCode("sendArea2", "district");
            var receiveProvinceCode =  getAreaCode("receiveArea2", "province");
            var receiveRegionCode = getAreaCode("receiveArea2", "district");
            var transport = false;
            var orderDate = $("#orderDate").val();

            var orderDate1 = $("#orderDate").val().replace("-","").replace("-","");
            var orderTime = "00:00:00";
            var proviZ1 = getAreaDesc("sendArea2", "province");
            var cityZ1 = getAreaDesc("sendArea2", "city");
            var areaZ1 = getAreaDesc("sendArea2", "district");
            var townZ1 = "";
            var addressZ1 = "";

            var proviWe = getAreaDesc("receiveArea2", "province");
            var cityWe = getAreaDesc("receiveArea2", "city");
            var areaWe = getAreaDesc("receiveArea2", "district");
            var townWe = "";
            var addressWe = "";

            var x = document.getElementById("transportPriceTable2").insertRow();
            var td0 = x.insertCell(0);
            var td1 = x.insertCell(1);
            var td2 = x.insertCell(2);
            var td3 = x.insertCell(3);
            var td4 = x.insertCell(4);
            var td5 = x.insertCell(5);

            $.ajax({
                type: 'post',
                url: "../../guest/freightEstimate",
                data:{ "sendProvinceCode": sendProvinceCode, "sendRegionCode": sendRegionCode, "receiveProvinceCode": receiveProvinceCode, "receiveRegionCode": receiveRegionCode, "goodsWeight": goodsWeight, "insuranceMoney": insuranceMoney ,"transport": transport},
                dataType: 'json',
                success: function(data) {
                    if (data != null) {
                        if (data.returnStatus == "01") {	// 成功
                            td0.innerHTML = "天天标快";
                            td1.innerHTML = data.weight;
                            td2.innerHTML = data.first;
                            td3.innerHTML = data.continued;
                            // td4.innerHTML = orderDate1;
                            td5.innerHTML = data.totalprices;


                        } else if (data.returnStatus == "02") {	// 失败
                            swal("", data.returnMsg, "error");
                        }
                    }
                },
                error: function(){
                    swal("", "请求失败！", "error");
                }
            });

            $.ajax({
                type: 'post',
                url: "/order!queryTimeEffective.action",
                data:{ "proviZ1": proviZ1, "cityZ1": cityZ1, "areaZ1": areaZ1, "townZ1": townZ1, "addressZ1": addressZ1,
                    "proviWe": proviWe, "cityWe": cityWe, "areaWe": areaWe, "townWe": townWe, "addressWe": addressWe,
                    "orderDate": orderDate1, "orderTime": orderTime },
                dataType: 'json',
                success: function(data2) {
                    if (data2 != null) {
                        if (data2.code == "1000") {	// 成功
                            td4.innerHTML = getDateFormat(data2.data.deliveryDate);
                        } else{	// 失败
                            swal("", data2.msg, "error");
                        }
                    }
                },
                error: function(){
                    swal("", "请求失败！", "error");
                }
            });

        }

        // 获取地区编码
        function getAreaCode(eId, eName) {
            return $("#" + eId).nextAll().find("#ctityTextHtml").find(".select-item[data-count='" + eName + "']").attr("data-code");
        }

        function getAreaDesc(eId, eName) {
            return $("#" + eId).nextAll().find("#ctityTextHtml").find(".select-item[data-count='" + eName + "']").html();
        }

        function getDateFormat(date){
            var year = date.substring(0,4);
            var month = date.substring(4,6);
            var day = date.substring(6,8);
            return year + "-" + month + "-" + day;
        }
    </script>
    <!-- ftl end -->

    <!--Created by 17120847 on 2018/5/23.--><div class="footer commonWrap">
    <div class="footerCont fixedWid clearfix">
        <div class="customer fl">
            <span class="info">客服电话</span>
            <span class="info tel">4001-888-888</span>
            <span class="info timer">服务时间： 8:30 - 17:30</span>
        </div>
        <div class="hyperlink clearfix">
            <div class="linkgroup fl">
                <a href="" class="link">客户服务</a>
                <a href="javascript:;" class="link">在线寄件</a>
                <a href="javascript:;" class="link">运单查询</a>
                <a href="javascript:;" class="link">网点查询</a>
                <a href="" class="link">运费查询</a>
            </div>
            <div class="linkgroup fl">
                <a href="" class="link">客服服务</a>
                <a href="javascript:;" class="link">客服热线  </a>
                <a href="javascript:;" class="link">在线留言</a>
            </div>
            <div class="linkgroup fl">
                <a href="" class="link">加盟天天</a>
                <a href="javascript:;" class="link">加盟须知   </a>
                <a href="javascript:;" class="link">加盟流程</a>
                <a href="javascript:;" class="link">加盟热线</a>
                <a href="javascript:;" class="link">招商区域</a>
            </div>
            <div class="linkgroup fl">
                <a href="" class="link">人才招聘</a>
                <a href="javascript:;" class="link">职位信息</a>
                <a href="javascript:;" class="link">招聘介绍</a>
            </div>
            <div class="linkgroup fr smcodediv" style="text-align:center">
                <img class="smcode" src="/images/code_dyh.png" alt="">
                <span class="info">天天相知微信</span>
                <span class="info">订阅号扫码关注</span>
            </div>
            <div class="linkgroup fr smcodediv">
                <img class="smcode" src="/images/code_fwh.png" alt="">
                <span class="info">天天快递微信</span>
                <span class="info">服务号扫码关注</span>
            </div>
        </div>
    </div>
</div>
    <div class="footerbottom commonWrap">
        <div class="fixedWid">
            <p class='info'>©版权所有 2016 天天快递有限公司<a style="color: #A6A7AB;" href="javascript:;" target="_blank"> 浙ICP备13006085</a>号
                <a href="javascript:;" target="_blank" style="color: #A6A7AB;"> | 快递业务经营许可证</a><a href="javascript:;" target="_blank" style="color: #A6A7AB;"> | <img src="/images/yyzz.png" style="width: 19px;height:19px;vertical-align: middle;"> 营业执照</a></p>
        </div>
    </div>
</div>
<div class="selfServiceBtnList">
    <div class="customerBtn" data="/onlineCall.action">
        <div class="onLineIcon"></div>
        <span class="btnTip">在线客服</span>
    </div>
    <div class="customerBtns selfOrderServiceBtn" id="selfOrderServiceBtn">
        <div class="selfServiceIcon"></div>
        <span class="btnTip">自助投诉</span>
    </div>
    <div class="customerBtns selfOrderServiceBtn" id="toTopBtn">
        <div class="returnTopIcon"></div>
        <span class="btnTip">返回顶部</span>
    </div>
</div>

<script type="text/javascript" src="/js/index1.js"></script>
<script type="text/javascript" src="/js/expressServiceTab.js"></script>
<script type="text/javascript" src="/js/Base64.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
</body>
</html>