<!-- Created by 17120847 on 2018/5/23.--><!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html">
    
	<title>天天快递官网</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control " content="no-cache,must-revalidate">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE,chrome=1">

    <meta name="keyword" content="">
    <meta name="description" content=""><meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
	<link href="/css/public.css" rel="stylesheet" type="text/css">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
	<link href="/css/mystyle.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/city-picker.css">
	<link type="text/css" rel="stylesheet" href="/css/common.css">
	<link type="text/css" rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/sweetalert.css">
	<link type="text/css" rel="stylesheet" href="/css/expressServiceTab.css">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/sweetalert-dev.js"></script>
	<script type="text/javascript" src="/js/env.js"></script>
    <script src="/js/SnCaptcha.js"></script>
    <style>
        .workOrder{
            margin-left: 3px;
            color: #666666;
            font-weight: normal;
        }
        .qESelfServiceBtn {
            float: right;
            cursor: pointer;
        }
        .qESelfServiceBtn img {
            margin-top: 4px;
        }
        .qEClearBoth {
            clear: both;
        }
    </style>
</head>
<body data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-137" data-genuitec-path="/ttkdex-web/target/m2e-jee/web-resources/staticFiles/pages/queryExpress.html">
	<div class="wrapper admin-content twolevelWrap" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-137" data-genuitec-path="/ttkdex-web/target/m2e-jee/web-resources/staticFiles/pages/queryExpress.html">
		<!--Created by 17120847 on 2018/5/23.-->
		<div class="logAndRegister">
            <div class="fixedWid clearfix">
                <a href="javascript:void(0)" class="fl" onclick="addFavorite();">加入收藏</a>
                <div class="fr normal"><a href="javascript:;">登录</a><span></span><a href="javascript:;">注册</a></div>
                <div style="display:none" class="fr sucess"> <a href="javascript:;"><span class="username" id="username"></span></a><a class="exit" href="javascript:;">退出</a></div>
            </div>
		</div>
		<div id="navWrap" class="headerWrap whiteBack commonWrap">
			<div class="fixedWid">
				<div class="navWrap clearfix">
                    <div class="logo fl">
                        <a href="javascript:;"><img src="/images/logo.png" class="logoimg"></a>
                    </div>
					<div class="fr">
						<a href="javascript:;" class="link">首页</a><span onclick="location.href='/staticFiles/pages/expressServiceTab.html'" class="link kdyw">快递业务
							<div class="cont">
								<div class="content">
									<span class="linka first">增值服务</span> <a href="javascript:;" class="linka">货到付款</a> <a href="javascript:;" class="linka">电子面单</a> <a href="javascript:;" class="linka">到付服务</a> <a href="javascript:;" class="linka">保价服务</a> <a href="javascript:;" class="linka">上门取件</a>
								</div>
							</div>
						</span><span onclick="location.href='/staticFiles/pages/placeOrder.html'" class="link khfw">客户服务
							<div class="cont">
								<div class="content">
									<span class="linka first">我要寄件</span>
									<span class="linka wyjjlink" data-url="/staticFiles/pages/placeOrder.html">我要寄件</span>
								</div>
								<div class="content secondcontent">
									<span class="linka second">我要查询</span>
									<span class="linka cxydlink" data-url="/staticFiles/pages/queryExpress.html">运单查询</span>
									<span class="linka cxwdlink" data-url="/staticFiles/pages/queryNetwork.html">网点查询</span>
									<span class="linka yfcxlink" data-url="/staticFiles/pages/queryPrice.html">运费查询</span>
								</div>
							</div>
						</span><span onclick="location.href='/staticFiles/pages/joiningTT.html'" class="link jmtt">加盟天天
							<div class="cont">
								<div class="content">
									<span class="linka first">加盟天天</span>
                                    <a href="javascript:;" class="linka">加盟须知</a> <a href="javascript:;" class="linka">加盟流程</a> <a href="javascript:;" class="linka">加盟热线</a> <a href="javascript:;" class="linka">招商区域</a>
								</div>
							</div>
						</span><span onclick="location.href='/staticFiles/pages/recruitment.html'" class="link rczp">人才招聘
							<div class="cont">
								<div class="content">
									<span class="linka first">人才招聘</span><a href="javascript:;" class="linka">人才计划</a><a href="javascript:;" class="linka">招聘信息</a>
								</div>
							</div>
						</span>
						<span onclick="window.open('http://wuliu.suning.com')" class="link">苏宁物流</span>
						<span onclick="location.href='/article/baseArticleAction!aboutTT.action'" class="link gytt">关于天天
							<div class="cont">
								<div class="content">
									<span class="linka first">关于天天</span><span class="linka qyjslink" data-url="/article/baseArticleAction!aboutTT.action#qyjs">企业介绍</span><span class="linka xwzxlink" data-url="/article/baseArticleAction!aboutTT.action#xwzx">新闻中心</span><span class="linka lxwmlink" data-url="/article/baseArticleAction!aboutTT.action#lxwm">联系我们</span>
								</div>
							</div>
						</span><span class="kfdh"><img src="/images/kfrx.png" class="kfrx"></span>
					</div>
				</div>
			</div>
		</div><!-- ftl start -->

<script src="/js/jquery.validate.js"></script>
<script src="/js/additional-methods.js"></script>
<script src="/js/messages_zh.js"></script>
<script src="/js/city-picker.data.js"></script>
<script src="/js/city-picker.js"></script>

<div class="wrapper admin-content twolevelWrap">
    <div id="bannerData"></div>

    <div style="background:url(/images/customerService.jpg) no-repeat" class="t_content t_banner">
        <div class="fixedWid">
            <h3 class="title">客户服务</h3>
            <line class="wid20line"></line>
            <p class="info">天天快递提供快捷、安全、贴心、可靠的快递服务，是您的优质选择</p>
        </div>
    </div>

    <!--弹出框背景色-->
    <div class="mask"></div>

    <!-- 客户服务主页面 -->
    <div class="sendMailContent khfwContent">
        <!-- 左边菜单栏 -->
        <div class="leftTabContent">
            <div class="leftMainTitle">客户服务</div>
            <div class="leftMainContent">
              <div class="leftNodeTab" onclick="location.href='/staticFiles/pages/placeOrder.html'">我要寄件</div>
              <div class="leftNodeTab leftNodeTabActive" onclick="location.href='/staticFiles/pages/queryExpress.html'">运单查询</div>
              <div class="leftNodeTab" onclick="location.href='/staticFiles/pages/queryNetwork.html'">网点查询</div>
              <div class="leftNodeTab" onclick="location.href='/staticFiles/pages/queryPrice.html'">运费查询</div>
            </div>
        </div>

        <!-- 运单查询 -->
        <div style="display:inline-block;" class="rightTabContent">
            <div class="rightSmallTitle queryOrderTitle bold">运单查询</div>
            <textarea placeholder="请输入运单号，多个单号请用回车键分隔，最多可查20条记录" class="orderTextInput" id="orderTextInput"></textarea>
            <div class="VerificationRow">
                <div id="captcha" style="display: inline-block;margin-top: -40px;margin-right: 40px;"></div>
                <!--<input type="text" id="encodinginput" class="encodinginput" placeholder="请填写验证码">-->
                <!--<img  id="verificationCodeImg"-->
                      <!--onclick="changeValidateCode(this)"-->
                      <!--src="/verificationCodeAction!getRandomPictrue.action">-->
                <a href="javascript:void(0)" class="blueBtn forBtn queryBtn" onclick="queryWayBillInfo()">查询</a>
            </div>
            <div class="orderProgress" id="detail" style="display:none;">
            </div>
            <div id="page">

            </div>
        </div>

    </div>

</div>

<script type="text/javascript">
    String.prototype.trim=function(){return this.replace(/(^\s*)|(\s*$)/g,"");}
    function complaintOrder(){
        //add 17030544 使用 spring security 校验是否登录,如果没有登录跳转passport.因为passport是跨域请求所有ajax会有异常
        //这里就不处理了.
        window.open("http://127.0.0.1:9292/staticFiles/user/selfHelp.html");
    }
    // 单击验证码图片切换验证码
    function changeValidateCode(obj) {
        var timenow = new Date().getTime();
        document.getElementById("verificationCodeImg").src="/verificationCodeAction!getRandomPictrue.action?d="+timenow;
    }

    //查询订单详情
    function dealResult(dataList) {
//        console.log(dataList);

        objList=dataList;
        if(objList.length>0){
            setOrderDetail(0);
        }
    }

    function setOrderDetail(i) {
        var _html = "";
        var _page = "";
//       		console.log(objList);
//        for(var i=0;i<dataList.length;i++){
        _html +='<div class="orderProgressTitle qEClearBoth"><span class="orderNum">运单号：'+objList[i].orderNum+'</span><span>运单状态：'+objList[i].state+'</span><div class="qESelfServiceBtn"><img src="/images/ico_workOrder.png"/><span  onclick="complaintOrder()" class="workOrder">自助投诉</span></div></div><div id="orderList">';
        $("#detail").css("display","block");
        if("" != objList[i].data){
            var orderList = objList[i].data;

            var state =  objList[i].state;
            //循环放入值，取出详细信息
            for(var j=orderList.length-1; j>=0 ;j--){
                if("签收" == state){
                    //揽件
                    if(j == orderList.length-1){
                        _html +='<div class="orderProgressRow"><span>'+orderList[j].time+'</span> <img src="/images/progressStart.png" class="bigImgProgress">  <span style="width: 619px;display: inline-block;vertical-align: top;">'+orderList[j].context+'</span></div>'
                    }else if (j == 0){
                        _html +='<div class="orderProgressRow"><span>'+orderList[j].time+'</span> <img src="/images/progressEnd.png" class="bigImgProgress">  <span style="width: 619px;display: inline-block;vertical-align: top;">'+orderList[j].context+'</span></div>'
                    }else{
                        _html +='<div class="orderProgressRow"><span>'+orderList[j].time+'</span><img src="/images/greyradius.png" class="smallImgProgress"><span style="width: 619px;display: inline-block;vertical-align: top;">'+orderList[j].context+'</span></div>'

                    }
                }else{
                    //未签收
                    //揽件
                    if(j == 0){
                        _html +='<div class="orderProgressRow"><span>'+orderList[j].time+'</span> <img src="/images/progressEnd.png" class="bigImgProgress">  <span style="width: 619px;display: inline-block;vertical-align: top;">'+orderList[j].context+'</span></div>'
                    }else{
                        _html +='<div class="orderProgressRow"><span>'+orderList[j].time+'</span><img src="/images/greyradius.png" class="smallImgProgress"><span style="width: 619px;display: inline-block;vertical-align: top;">'+orderList[j].context+'</span></div>'
                    }
                }
            }
            _html += '</div>'
//                //下一页和上一页
            if(i == 0 && i == objList.length-1){
                _page+='<div class="queryNextOrder"><a onclick="javascript:void(0)" class="lastOrder forBtn">上一单</a><span>'+(i+1)+'/'+objList.length+'</span><a  onclick="javascript:void(0)" class="lastOrder forBtn">下一单</a></div>';
            }else if(i == 0){
                _page+='<div class="queryNextOrder"><a onclick="javascript:void(0)" class="lastOrder forBtn">上一单</a><span>'+(i+1)+'/'+objList.length+'</span><a href="javascript:void(0)" onclick="setOrderDetail('+(i+1)+')" class="nextOrder forBtn">下一单</a></div>';
            }else if(i == objList.length-1){
                _page+='<div class="queryNextOrder"><a href="javascript:void(0)" onclick="setOrderDetail('+(i-1)+')" class="nextOrder forBtn">上一单</a><span>'+(i+1)+'/'+objList.length+'</span><a onclick="javascript:void(0)" class="lastOrder forBtn">下一单</a></div>';
            }else{
                _page+='<div class="queryNextOrder"><a href="javascript:void(0)" onclick="setOrderDetail('+(i-1)+')" class="nextOrder forBtn">上一单</a><span>'+(i+1)+'/'+objList.length+'</span><a href="javascript:void(0)" onclick="setOrderDetail('+(i+1)+')"  class="nextOrder forBtn">下一单</a></div>';
            }
//            }
        }else{
            _html+='<div class="orderProgressRow"><span>'+objList[i].msg +'</span></div>'
            _html += '</div>'
            if(i == 0 && i == objList.length-1){
                _page+='<div class="queryNextOrder"><a onclick="javascript:void(0)" class="lastOrder forBtn">上一单</a><span>'+(i+1)+'/'+objList.length+'</span><a  onclick="javascript:void(0)" class="lastOrder forBtn">下一单</a></div>';
            }else if(i == 0){
                _page+='<div class="queryNextOrder"><a onclick="javascript:void(0)" class="lastOrder forBtn">上一单</a><span>'+(i+1)+'/'+objList.length+'</span><a href="javascript:void(0)" onclick="setOrderDetail('+(i+1)+')" class="nextOrder forBtn">下一单</a></div>';
            }else if(i == objList.length-1){
                _page+='<div class="queryNextOrder"><a href="javascript:void(0)" onclick="setOrderDetail('+(i-1)+')" class="nextOrder forBtn">上一单</a><span>'+(i+1)+'/'+objList.length+'</span><a onclick="javascript:void(0)" class="lastOrder forBtn">下一单</a></div>';
            }else{
                _page+='<div class="queryNextOrder"><a href="javascript:void(0)" onclick="setOrderDetail('+(i-1)+')" class="nextOrder forBtn">上一单</a><span>'+(i+1)+'/'+objList.length+'</span><a href="javascript:void(0)" onclick="setOrderDetail('+(i+1)+')"  class="nextOrder forBtn">下一单</a></div>';
            }

        }

        $("#detail").html(_html);
        $("#page").html(_page);

    }
    function queryWayBillInfo() {
        //订单号
        var orderTextInput = $("#orderTextInput").val();
        if(orderTextInput == '' || orderTextInput == null || orderTextInput.trim() == ''){
            swal("","请填写运单号!", "info");
            // changeValidateCode("verificationCodeImg");
            return false;
        }
        var pattern  =  /([0-9]{16})$/;//^(((TT|tt)[0-9]{13})|([0-9]{12}))$/;

        var orderTextInputs = new Array();
        //根据回车分割
        orderTextInputs = orderTextInput.split("\n");
        for(var i=0 ;i<orderTextInputs.length ;i++){
            if(!pattern.test(orderTextInputs[i])){
                swal("","请输入正确的运单号", "info");
                return false;
            }
        }

        //图形验证码
        // var encodinginput = $("#encodinginput").val();
        // if (!sc.queryStatus()) {
        //     swal("","请进行安全验证。","info");
        //     return false;
        // }else{
        //
        // }

        //提交查询
        $.ajax({
            type : "post",
            url : "../../guest/findLogisticsOrders",//订单查询地址
            data :{"orderTextInput":orderTextInput},
            dataType: "JSON",
            success : function(data) {

                if (data != null) {
                    if (data.returnStatus == "01") {
                        dealResult(data.dataList);
                    } else if (data.returnStatus == "02") {
//                        alert(data.returnMsg);
                        swal("",data.returnMsg, "info");

                    }
                    // init();
                } else {
                    // init();
                    swal("",data.returnMsg, "info");
                }
            },
            error:function(data){
                swal("",data.returnMsg, "info");
                // init();
            }
        });
    }

    $(".rightTabContent").on("click",".workOrder",function(){
        $.ajax({
            type:"post",
            url:"/customerAction!isLogin.action",
            error: function(){
            },
            success:function(data){
                try{
                    var obj = eval('(' + data + ')');
                    if(obj.success){  //已经登录
                        window.open("/workOrder!initVSelfHelpWorkOrder.action?mailNo=" + $(".orderNum").html().substring(4))
                    }
                }catch(error){
                    window.open("/workOrder!initSelfHelpWorkOrder.action?mailNo=" + $(".orderNum").html().substring(4))
                }

            }
        });
    })

    $(document).ready(function(){
        // init()
        var a =  GetRequest();
        if(undefined !=a.orderTextInput){

            var base = new Base64();

            var orderTextInput = base.decode(a.orderTextInput);
            $("#orderTextInput").val(orderTextInput);

            var pattern  = /([0-9]{16})$/; ///^([TT|tt][0-9]{13})|([0-9]{12})$/;

            var orderTextInputs = new Array();
            //根据回车分割
            orderTextInputs = orderTextInput.split("\n");
            for(var i=0 ;i<orderTextInputs.length ;i++){
                console.log(pattern.test(orderTextInputs[i]));
                console.log(orderTextInputs[i]);
                if(!pattern.test(orderTextInputs[i])){
                    swal("","请输入正确的运单号!", "info");
                    return false;
                }
            }
            //提交查询
            $.ajax({
                type : "post",
                url : "/customerService!queryWayBillInfo.action",
                data :{"orderTextInput":orderTextInput,"token":a.token,"encodinginput":"","type":"1"},
                dataType: "JSON",
                success : function(data) {
                    if (data != null) {
                        if (data.returnStatus == "01") {
                            dealResult(data.dataList);
                        } else if (data.returnStatus == "02") {
                            swal("",data.returnMsg, "info");
                        }
                    } else {
                        swal("","操作异常，请稍后再试！", "info");

                    }

                },
                error:function(data){
                    swal("","提交失败！", "info");

                }
            });
        }
    });

    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for(var i = 0; i < strs.length; i ++) {
                theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    function init(){
        var env = getEnv();
        $.ajax({
            type : "post",
            url : "/getIARToken.action",
            success : function(data) {
                var obj = eval("(" + data + ")");
                if (obj.code == "1000") {
                    sc = SnCaptcha.init({
                        id: 'captcha', // 用于当一个页面上有多个验证码实例时进行区分
                        // env : 'sit', // 环境sit，xgpre，prd
                        env : env, // 环境sit，xgpre，prd
                        type : 'inline', // inline:插入按钮, 点击按钮弹出验证码。popup：直接弹出验证码
                        target : 'captcha', // 验证码按钮插入的 div 的 id，必填
                        ticket : obj.data, // 通过注册接口获取的 ticket
                        width : '250px',  // 按钮或者滑块宽度（必填)
                        height : '36px',  // 滑块或按钮高度(必填，且必须用具体数值，禁止使用百分比)
                        callback : function(token) { // 回调函数
                            console.log(token);
                        }
                    });

                } else {
                    swal("",obj.msg, "error");
                }
            },
            error:function(data){;
                console.log(data.returnMsg);

            }
        });
    }

</script>
<!-- ftl end -->
 <!--Created by 17120847 on 2018/5/23.--><div class="footer commonWrap">
    <div class="footerCont fixedWid clearfix">
        <div class="customer fl">
            <span class="info">客服电话</span>
            <span class="info tel">4001-888-888</span>
            <span class="info timer">服务时间： 8:30 - 17:30</span>
        </div>
        <div class="hyperlink clearfix">
            <div class="linkgroup fl">
                <a href="" class="link">客户服务</a>
                <a href="javascript:;" class="link">在线寄件</a>
                <a href="" class="link">运单查询</a>
                <a href="javascript:;" class="link">网点查询</a>
                <a href="javascript:;" class="link">运费查询</a>
            </div>
            <div class="linkgroup fl">
                <a href="" class="link">客服服务</a>
                <a href="javascript:;" class="link">客服热线  </a>
                <a href="javascript:;" class="link">在线留言</a>
            </div>
            <div class="linkgroup fl">
                <a href="" class="link">加盟天天</a>
                <a href="javascript:;" class="link">加盟须知   </a>
                <a href="javascript:;" class="link">加盟流程</a>
                <a href="javascript:;" class="link">加盟热线</a>
                <a href="javascript:;" class="link">招商区域</a>
            </div>
           <!--  <div class="linkgroup fl">
                <a href="" class="link">人才招聘</a>
                <a href="javascript:;" class="link">职位信息</a>
                <a href="javascript:;" class="link">招聘介绍</a>
            </div> -->
            <div class="linkgroup fr smcodediv" style="text-align:center">
                <img class="smcode" src="/images/code_dyh.png" alt="">
                <span class="info">天天相知微信</span>
                <span class="info">订阅号扫码关注</span>
            </div>
            <div class="linkgroup fr smcodediv">
                <img class="smcode" src="/images/code_fwh.png" alt="">
                <span class="info">天天快递微信</span>
                <span class="info">服务号扫码关注</span>
            </div>
        </div>
    </div>
</div>
    <div class="footerbottom commonWrap">
        <div class="fixedWid">
            <p class='info'>©版权所有 2016 天天快递有限公司<a style="color: #A6A7AB;" href="javascript:;" target="_blank"> 浙ICP备13006085</a>号
                <a href="javascript:;" target="_blank" style="color: #A6A7AB;"> | 快递业务经营许可证</a><a href="javascript:;" target="_blank" style="color: #A6A7AB;"> | <img src="/images/yyzz.png" style="width: 19px;height:19px;vertical-align: middle;"> 营业执照</a></p>
        </div>
    </div>
</div>
    <div class="selfServiceBtnList">
        <div class="customerBtn" data="/onlineCall.action">
            <div class="onLineIcon"></div>
            <span class="btnTip">在线客服</span>
        </div>
        <div class="customerBtns selfOrderServiceBtn" id="selfOrderServiceBtn">
            <div class="selfServiceIcon"></div>
            <span class="btnTip">自助投诉</span>
        </div>
        <div class="customerBtns selfOrderServiceBtn" id="toTopBtn">
            <div class="returnTopIcon"></div>
            <span class="btnTip">返回顶部</span>
        </div>
    </div>
 <script type="text/javascript" src="/js/index1.js"></script>
 <script type="text/javascript" src="/js/expressServiceTab.js"></script>
 <script type="text/javascript" src="/js/Base64.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/env.js"></script>
 </body>
</html>